
<form action="/search" method="post" id="search-form"  class="input-group">
  <input type="text" class="form-control" name="searchItem" id="searchItem" placeholder="搜索">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
  </div>
</form>
