<h1>Hello there!</h1>
<div class="card-deck">
  <div class="card">
    <img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/League-of-Legends-servers-down-1259147.jpg?r=1584980372324" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="row justify-content-around">
      <div class="col-4"> $14
      </div>
      <div class="col-4">      
        <a href="#" class="btn btn-success float-right" role="button">Button</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/League-of-Legends-servers-down-1259147.jpg?r=1584980372324" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="clearfix">
      <div class="price pull-left">  $12      
        <a href="#" class="btn btn-success float-right" role="button">Button</a>
      </div>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.images.express.co.uk/img/dynamic/143/590x/League-of-Legends-servers-down-1259147.jpg?r=1584980372324" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="clearfix">
      <div class="price pull-left">$12
        <a href="#" class="btn btn-success float-right" role="button">Button</a>
      </div>
    </div>
  </div>
</div>
