
    <div class="container" >
            <div class="row">
                <div class="col-sm-6">  
                    <img src="https://i.ytimg.com/vi/BGtROJeMPeE/maxresdefault.jpg" alt="..." class="img mt-5">
                </div>
                <div class="col-sm-6">
                    <div class="card-body">
                        <h5 class="card-title"> title </h5>
                        <p class="card-text">  this.description  </p>
                        <p class="card-text"> $ this.price</p>
                        <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right" role="button"> BUY</a>
                    </div>
                </div>
            </div>
    </div>

<!--
<div class="container">
  <div class="row">
    <div class="row col-sm-4" style="background-color:yellow;">
       <div class = "clearfix"> 
          <div calss="mainText"> test</div> 
       </div>
    </div>
    <div class="row col-sm-8" style="background-color:pink;">
        <p>Second</p>
    </div>
  </div>
</div>
-->
